<!doctype html>
<html>
	<head>
		<script
		  src="https://code.jquery.com/jquery-3.5.1.js"
		  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		  crossorigin="anonymous">
		</script>
		<script src="index.js" charset="UTF-8"> </script>
	</head>
	<body> 
		<h1>Ajax Nodejs</h1> 
		<button id="getProducts">
			GET PRODUCT
		</button>
		<hr>
		<form id="productForm">
			<input type="text" id="newProduct">
			<button type="submit">
				CREATE PRODUCT
			</button>
		</form>
		<table>
			<thread>
				<tr> 
					<th>ID</th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thread>
			<tbody id="test">

			</tbody>
		</table>
	</body>
</html>